<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      GUNSHOP
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-slide>
    <ion-card class="custom-card">
      <ion-img src="https://purepng.com/public/uploads/large/grenade-launcher-gmw.png"></ion-img>
      <ion-img src="https://purepng.com/public/uploads/large/grenade-launcher-nlo.png"></ion-img>
      <ion-img src="https://purepng.com/public/uploads/large/purepng.com-wooden-snipersniperscoperiffle-401520868407vf3v0.png"></ion-img>
    </ion-card>
   </ion-slide>
   
</ion-content>
