@import url('https://fonts.googleapis.com/css2?family=Bungee+Outline&display=swap'); 
#container {
  text-align: center;

  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}



ion-card {
  width: 100%;
  padding: 20px;
  border-radius: 29px;
  background: #2b2c2d;
  transform: scale(.9, .9);

  ion-img {
    width: 50%;
    margin: auto;
  }
}

.custom-card {
  margin-bottom: 130%;
}

.customm-card {
  margin-bottom: top;
}

ion-title {
  font-family: 'Bungee Outline', cursive;
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;

  color: #8c8c8c;

  margin: 0;
}

#container a {
  text-decoration: none;
}